{erl_opts, [
  warnings_as_errors,
  warn_missing_spec
]}.

{deps, [
  {recon, "2.5.3"},
  {edbg, {git, "https://github.com/etnt/edbg.git", {branch, "0.1.4"}}},
  {typr, {git, "https://github.com/shizzard/typr.git", {tag, "0.2.5"}}},
  {cloak, {git, "https://github.com/shizzard/cloak.git", {branch, "master"}}},
  {uuid, "2.0.5", {pkg, uuid_erl}},
  {gproc, "0.9.0"},
  {gun, "2.0.0"},
  {jsone, "1.7.0"},
  {ranch, "2.1.0"},
  {cowboy, "2.9.0"},
  {poolboy, "1.5.2"},
  {getopt, "1.0.2"},
  {prometheus, "4.9.1"},
  {prometheus_cowboy, "0.1.8"},
  {gpb, "4.19.7"}
]}.

{plugins, [
  {rebar3_gpb_plugin, {git, "https://github.com/lrascao/rebar3_gpb_plugin.git", {branch, "2.22.5"}}}
]}.

{dialyzer, [
  {warnings, [no_return, no_unused]},
  {get_warnings, true},
  {plt_apps, all_deps},
  {plt_extra_apps, [typr]},
  {plt_location, local},
  {plt_prefix, "plt"},
  {base_plt_apps,  [erts, kernel, stdlib, compiler]},
  {base_plt_location, './.plt' },
  {base_plt_prefix, "plt"}
]}.

{relx, [
  {
    release, {router, {semver, ""}}, [
      %% dependencies
      {recon, load}, {runtime_tools, load}, {edbg, load}, sasl, crypto, typr, jsone, cloak,
      gproc, gun, poolboy, ranch, cowboy, prometheus, prometheus_cowboy,
      %% project applications
      router_log, router_cli, router, router_pb, router_grpc
    ]
  },

  {dev_mode, true},
  {include_src, false},
  {include_erts, false},

  {sys_config_src, "./config/sys.config"},
  {vm_args_src, "./config/vm.args"},

  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [{dev_mode, false}]},
    {erl_opts, [no_debug_info]}
  ]},
  {test, [
    {deps, [
      {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}}
    ]},
    {erl_opts, [debug_info, nowarn_missing_spec]},
    {overrides, []}
  ]}
]}.

%% router_cli

{escript_main_app, router_cli}.
{escript_name, "router"}.
{escript_incl_apps, [router, router_grpc, router_pb, gun]}.
{escript_emu_args, "%%! -escript main router_cli\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%% Auto-generated router_cli application."}.
