{erl_opts, [
  warnings_as_errors,
  warn_missing_spec,
  warn_untyped_record
]}.

{deps, [
  {typr, {git, "https://github.com/shizzard/typr.git", {tag, "0.2.4"}}},
  {cloak, {git, "https://github.com/shizzard/cloak.git", {branch, "master"}}},
  {uuid, "2.0.5", {pkg, uuid_erl}},
  {gun, "2.0.0-rc.2"},
  {jsone, "1.7.0"},
  {hackney, "1.18.1"},
  {ranch, "2.1.0"},
  {cowboy, "2.9.0"},
  {poolboy, "1.5.2"},
  {getopt, "1.0.2"},
  {prometheus, "4.9.1"},
  {prometheus_cowboy, "0.1.8"}
]}.

{dialyzer, [
  {warnings, [no_return, no_unused]},
  {get_warnings, true},
  {plt_apps, all_deps},
  {plt_extra_apps, [typr]},
  {plt_location, local},
  {plt_prefix, "plt"},
  {base_plt_apps,  [erts, kernel, stdlib, compiler]},
  {base_plt_location, './.plt' },
  {base_plt_prefix, "plt"}
]}.

{relx, [
  {
    release, {router, {semver, ""}}, [
      %% dependencies
      sasl, crypto, typr, jsone, cloak,
      gun, hackney, poolboy, ranch, cowboy, prometheus, prometheus_cowboy,
      %% project applications
      router_log, router, router_cli
    ]
  },

  {dev_mode, true},
  {include_src, false},
  {include_erts, false},

  {sys_config_src, "./config/sys.config"},
  {vm_args_src, "./config/vm.args"},

  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [{dev_mode, false}]},
    {erl_opts, [no_debug_info]}
  ]},
  {test, [
    {deps, [
      {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}}
    ]},
    {erl_opts, [debug_inf, nowarn_missing_spec]},
    {overrides, []}
  ]}
]}.

%% router_cli

{escript_main_app, router_cli}.
{escript_name, "router"}.
{escript_incl_apps, [router]}.
{escript_emu_args, "%%! -escript main router_cli\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%% Auto-generated router_cli application."}.
