[
  {router, [
    {hashring, [
      {buckets_po2, ${ROUTER_APP_HASHRING_BUCKETS_PO2}},
      {nodes_po2, ${ROUTER_APP_HASHRING_NODES_PO2}}
    ]}
  ]},
  {router_grpc, [
    {listener, [
      {port, ${ROUTER_APP_GRPC_LISTENER_PORT}}
    ]},
    {session, [
      {inactivity_limit_ms, ${ROUTER_APP_GRPC_SESSION_INACTIVITY_LIMIT_MS}}
    ]}
  ]},
  {kernel, [
    {logger_sasl_compatible, false},
    {logger_level, ${ROUTER_APP_LOGGER_LOG_LEVEL}},
    {logger, [
      %% Console logger
      {handler, default, logger_std_h, #{
        level => emergency,
        formatter => {router_log_f, #{
          map_depth => 5,
          term_depth => 50
        }}
      }},
      %% Disk logger for errors
      {handler, disk_error, logger_disk_log_h, #{
        level => error,
        formatter => {router_log_f, #{
          map_depth => 5,
          term_depth => 50
        }},
        filters => [{progress, {fun logger_filters:progress/2, stop}}],
        config => #{
          file => "${ROUTER_APP_LOGGER_LOG_ROOT}/lgr_error.log",
          type => wrap,
          max_no_files => 10,
          max_no_bytes => 52428800 % 10 x 5mb
        }
      }},
      %% Disk logger for info
      {handler, disk_info, logger_disk_log_h, #{
        level => info,
        formatter => {router_log_f, #{
          map_depth => 5,
          term_depth => 50
        }},
        filters => [{progress, {fun logger_filters:progress/2, stop}}],
        config => #{
          file => "${ROUTER_APP_LOGGER_LOG_ROOT}/lgr_info.log",
          type => wrap,
          max_no_files => 10,
          max_no_bytes => 52428800 % 10 x 5mb
        }
      }},
      %% Disk logger for debug
      {handler, disk_debug, logger_disk_log_h, #{
        level => debug,
        formatter => {router_log_f, #{
          map_depth => 5,
          term_depth => 50
        }},
        filters => [{progress, {fun logger_filters:progress/2, stop}}],
        config => #{
          file => "${ROUTER_APP_LOGGER_LOG_ROOT}/lgr_debug.log",
          type => wrap,
          max_no_files => 10,
          max_no_bytes => 52428800 % 10 x 5mb
        }
      }}
    ]}
  ]},
  {sasl, [
    {utc_log, true},
    {sasl_error_logger, false}
  ]}
].
