{erl_opts, [
  warnings_as_errors,
  warn_missing_spec
]}.

{deps, [
  {recon, "2.5.3"},
  {typr, {git, "https://github.com/shizzard/typr.git", {tag, "0.2.6"}}},
  {cloak, {git, "https://github.com/shizzard/cloak.git", {branch, "master"}}},
  {uuid, "2.0.5", {pkg, uuid_erl}},
  {gproc, "0.9.0"},
  {gun, "2.0.0"},
  {jsone, "1.7.0"},
  {ranch, "2.1.0"},
  {cowboy, "2.9.0"},
  {poolboy, "1.5.2"},
  {getopt, "1.0.2"},
  {prometheus, "4.9.1"},
  {prometheus_cowboy, "0.1.8"}
]}.

{relx, [
  {
    release, {echo, {semver, ""}}, [
      %% dependencies
      {recon, load}, {runtime_tools, load}, sasl, crypto, typr, jsone, cloak,
      gproc, gun, poolboy, ranch, cowboy, prometheus, prometheus_cowboy,
      %% project applications
      echo_log, echo, echo_grpc
    ]
  },

  {dev_mode, true},
  {include_src, false},
  {include_erts, false},

  {sys_config_src, "./config/sys.config"},
  {vm_args_src, "./config/vm.args"},

  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [{dev_mode, false}]},
    {erl_opts, [no_debug_info]}
  ]},
  {test, [
    {deps, [
      {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}}
    ]},
    {erl_opts, [debug_info, nowarn_missing_spec]},
    {overrides, []}
  ]}
]}.
