{erl_opts, [
  {i, "./_build/default/plugins/gpb/include"},
  nowarn_missing_spec,
  nowarn_untyped_record
]}.

{gpb_opts, [
  {recursive, true},
  {i, "priv/proto"},
  {o_erl, "src/generated"},
  {o_hrl, "include"},
  {module_name_suffix, "_definitions"},
  {strings_as_binaries, true},
  type_specs,
  {verify, always},
  use_packages,
  include_as_lib,
  {copy_bytes, true}
]}.

{provider_hooks, [
  {pre, [
    {compile, {protobuf, compile}},
    {clean, {protobuf, clean}}
  ]}
]}.
